.content {
	width: 90%;
	max-width: 1060px;
	margin: 0 auto;
	padding-top: 1em;
	padding-bottom: 2em;
}

.content div {
	line-height: 1.5em;
	margin-top: 0.6em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1.25em;
	margin:0.8em 0 0 0;
}

h4 {
	font-size: 1.1em;
	margin: 0.5em 0 0 0;
}

table {
	border-collapse: collapse;
	text-align: center;
	margin-top: 0.8em;
	border-bottom: 0.05em gray solid;
	border-right: 0.05em gray solid;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 0.9em;
}

td, th {
	border-top: 0.05em gray solid;
	border-left: 0.05em gray solid;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

figure {
	text-align: center;
	margin: 1em;
}

figure img {
	max-width: 100%;
}

@media (prefers-color-scheme: dark) {
	body {
		color: #EEE;
		background-color: black;
	}
}